<!--<<<<<<< HEAD-->
<!--<div class="admin__dashboard">-->
  <!--<form [formGroup]="adminAddForm" (ngSubmit)="onSubmit()">-->
      <!--&lt;!&ndash; (ngSubmit)="onSubmit()" &ndash;&gt;-->
    <!--<input type="file"-->
      <!--id="file"-->
      <!--(change)="incomingfile($event)"-->
      <!--accept=".xlsx"-->
      <!--class="form-control"-->
      <!--formControlName="excelInput">-->

    <!--<button type="submit" class="form__button">Submit</button>-->

  <!--</form>-->

  <!--&lt;!&ndash; <button type="submit" (click)="onSubmit()">Submit</button> &ndash;&gt;-->
<!--</div>-->


<div class="main">
  <h1 class="title">Admin Dashboard</h1>
  <mat-tab-group>
    <mat-tab label="Overview">
    </mat-tab>
    <mat-tab label="Trainings Management">
      <button mat-raised-button class="add-training-button" (click)="openDialog()" color="warn">Add Trainings from File</button>
      <button mat-raised-button class="add-training-button" (click)="openTrainingForm()" color="warn">Add Training</button>
      <app-show-trainings></app-show-trainings>
    </mat-tab>
    <mat-tab label="User Management">
    </mat-tab>
    <mat-tab label="Budget Management">
    </mat-tab>
    <mat-tab label="Vendors Management">
    </mat-tab>
  </mat-tab-group>
</div>
