@import "../../../styles/variables.scss";
.add-training-form {
  padding: 15px 10px 30px 10px;
  width: 350px;
  text-align: center;
  h2 {
    margin: 10px 0;
    font-family: $sans-serif;
    color: $dark-blue;
    letter-spacing: 0.5px;
  }
  hr {
    height: 1px;
    background: $dark-blue;
    margin: 0 auto 40px auto;
    width: 10%;
  }
  mat-form-field {
      width: 300px;
  }
  mat-select {
    padding: 10px 0 10px 5px;
    width: 300px;
  }
  h4 {
    font-weight: 500;
    letter-spacing: -0.5px;
    margin: 10px 0 0 0;
  }
}
