<form [formGroup]="addTrainingForm" (ngSubmit)="onSubmit()">
    <div class="add-training-form">
      <h2>Add a training</h2>
      <hr>
      <!--<mat-form-field>
        <mat-select formControlName="trainingType" required>
          <mat-option *ngFor="let trainingType of trainingTypes" [value]="trainingType">{{trainingType}}</mat-option>
        </mat-select>
        <mat-label>Training Type</mat-label>
      </mat-form-field>
       <mat-form-field color="primary">
        <input formControlName="trainingName" matInput #input minlength="1" placeholder="Training name" required>
        <mat-hint align="end">Training's Name</mat-hint>
      </mat-form-field>
      <br>
      <mat-form-field color="primary">
        <input formControlName="trainingDescription" matInput #input minlength="6" placeholder="Training description" required>
        <mat-hint align="end">{{input.value?.length || 0}}/6</mat-hint>
      </mat-form-field>
      <mat-form-field color="primary">
        <input formControlName="trainingResponsible" matInput #input minlength="1" placeholder="Training responsible" required>
        <mat-hint align="end">Training needs a representative</mat-hint>
      </mat-form-field>
      <mat-form-field color="primary">
        <input formControlName="trainingVendor" matInput #input placeholder="Vendor">
        <mat-hint align="end">Optional Vendor Name / Mail</mat-hint>
      </mat-form-field> -->
      <mat-form-field class="form-date" color="primary">
        <input matInput formControlName="startDate" [matDatepickerFilter]="noSaturdayAndSunday" [matDatepicker]="startDate" placeholder="Start Date" [disabled]
          required>
        <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
        <mat-datepicker #startDate [disabled]="false"></mat-datepicker>
      </mat-form-field> <!--
      <br>
      <mat-form-field class="form-date" color="primary">
        <input formControlName="endDate" matInput [matDatepickerFilter]="noSaturdayAndSunday" [matDatepicker]="endDate" placeholder="End Date" [disabled] required>
        <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
        <mat-datepicker #endDate [disabled]="false"></mat-datepicker>
      </mat-form-field>
      <mat-form-field color="primary">
        <input formControlName="minParticipants" matInput #input minlength="1" placeholder="Minimum participants" required>
      </mat-form-field>
      <mat-form-field color="primary">
        <input formControlName="maxParticipants" matInput #input minlength="1" placeholder="Maximum participants" required>
      </mat-form-field>
      <br>-->
      <span *ngIf="!signupForm.valid && signupForm.touched">Please enter valid data!</span>
      <button mat-button type="submit">Submit</button>
    </div>
</form>
