$mat-deepblue: (
    50 : #e1e6eb,
    100 : #b5c0cc,
    200 : #8496ab,
    300 : #526b89,
    400 : #2d4c6f,
    500 : #082c56,
    600 : #07274f,
    700 : #05182F,
    800 : #041b3c,
    900 : #05182F,
    A100 : #658aff,
    A200 : #3264ff,
    A400 : #003dfe,
    A700 : #0037e5,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$mat-accentaqua: (
    50 : #e8f5fa,
    100 : #c5e6f3,
    200 : #9fd6eb,
    300 : #78c6e2,
    400 : #5bb9dc,
    500 : #3eadd6,
    600 : #38a6d1,
    700 : #309ccc,
    800 : #2893c6,
    900 : #1b83bc,
    A100 : #f1faff,
    A200 : #bee7ff,
    A400 : #8bd3ff,
    A700 : #72caff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-warningfire: (
    50 : #f9e7e9,
    100 : #f0c2c8,
    200 : #e69aa4,
    300 : #db7280,
    400 : #d45364,
    500 : #cc3549,
    600 : #c73042,
    700 : #c02839,
    800 : #b92231,
    900 : #ad1621,
    A100 : #ffe0e2,
    A200 : #ffadb2,
    A400 : #ff7a82,
    A700 : #ff616a,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);