$mat-deepblue: (
    50 : #e1e6eb,
    100 : #b5c0cc,
    200 : #8496ab,
    300 : #526b89,
    400 : #2d4c6f,
    500 : #082c56,
    600 : #07274f,
    700 : #05182F,
    800 : #041b3c,
    900 : #05182F,
    A100 : #658aff,
    A200 : #3264ff,
    A400 : #003dfe,
    A700 : #0037e5,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$mat-accentaqua: (
    50 : #e6f3ef,
    100 : #c0e0d7,
    200 : #96ccbd,
    300 : #6cb8a2,
    400 : #4da88e,
    500 : #2d997a,
    600 : #289172,
    700 : #228667,
    800 : #1c7c5d,
    900 : #116b4a,
    A100 : #a0ffda,
    A200 : #6dffc6,
    A400 : #3affb2,
    A700 : #20ffa8,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-warningfire: (
    50 : #f9e7e9,
    100 : #f0c2c8,
    200 : #e69aa4,
    300 : #db7280,
    400 : #d45364,
    500 : #cc3549,
    600 : #c73042,
    700 : #c02839,
    800 : #b92231,
    900 : #ad1621,
    A100 : #ffe0e2,
    A200 : #ffadb2,
    A400 : #ff7a82,
    A700 : #ff616a,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);