$black: #212121;
$white: #EFEFEF;
$dark-white: #DADADA;
$bright-white: #FFFFFF;
$button-white: #F9F9F9;
$blue: #123C62;
$dark-blue: #0A3C75;
$bright-blue: #3EADD6;
$purple: #323c7f;

$mono:'Inconsolata', monospace;
$sans-serif: 'Montserrat', sans-serif;
$serif: 'Raleway', sans-serif;