<mat-dialog-content>
  <div class="enrollForm">
    <form [formGroup]="spocForm">
      <div>
        <h2 class="h1__train">Pending Enrollments</h2>
        <hr>
        <h2 class="h2__train">{{ userService.training.technology }}</h2>
        <h3 class="h3__train">{{ userService.training.name }}</h3>
        <p class="p__train_date">{{ userService.training.date }}</p>
      </div>
      <div formArrayName="users" class="enrollment-form">
        <div *ngFor="let enrollment of userService.enrollmentList; let i = index" class="pending-form">
          <div [formGroupName]="i">
            <mat-grid-list id="spoc-form" cols="2">
              <mat-grid-tile>
                <p class="minip__train">Participant e-mail address</p>
                <p class="p__train">{{ enrollment.userEmail }}</p>
                <div *ngIf="enrollment.department">
                  <p class="minip__train">Domain:</p>
                  <p class="p__train">{{ enrollment.department }}</p>
                </div>
                <div *ngIf="enrollment.subdepartment">
                  <p class="minip__train">Profession:</p>
                  <p class="p__train">{{ enrollment.subdepartment }}</p>
                </div>
                <div *ngIf="enrollment.managerName">
                  <p class="minip__train">Manager name:</p>
                  <p class="p__train">{{ enrollment.managerName }}</p>
                </div>
              </mat-grid-tile>
              <mat-grid-tile>
                <div *ngIf="enrollment.comment">
                  <p class="minip__train">Manager comment:</p>
                  <p class="p__train">{{ enrollment.comment }}</p>
                </div>
                <div *ngIf="enrollment.trainingType">
                  <p class="minip__train">Type:</p>
                  <p class="p__train">{{ enrollment.trainingType }}</p>
                </div>
                <div *ngIf="enrollment.urgencyType">
                  <p class="minip__train">Urgency:</p>
                  <p class="p__train">{{ enrollment.urgencyType }}</p>
                </div>
              </mat-grid-tile>
            </mat-grid-list>
            <div class="warning" *ngIf="!spocForm.get('users').get('' + i).get('comment').valid">
              <mat-icon id="warning-icon" color="warn">warning</mat-icon>
              <p class="spoc-warning">You must give a reason for denial!</p>
            </div>
            <mat-form-field id="spoc-comment">
              <textarea matInput class="spoc-comment" formControlName="comment" (change)="updateComment(enrollment.userEmail, i)" placeholder="Your comment"></textarea>
            </mat-form-field>
            <mat-radio-group class="radio-group">
              <mat-radio-button class="check-btn" color="primary" (click)="acceptUser(enrollment.userEmail, i)" value="accept">Accept</mat-radio-button>
              <mat-radio-button color="warn" (click)="denyUser(enrollment.userEmail, i)" value="deny">Deny</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>
    </form>
    <mat-dialog-actions align="end">
      <button class="button submit__button" type="button" (click)="onSubmit()">Submit</button>
    </mat-dialog-actions>
  </div>
</mat-dialog-content>
