div.enrollForm {
    width: 35em;
    min-height: 35em;
    height: auto;
    padding: 1em;
    margin: 0 auto;
}

.enrollForm form {
    width: 100%;
}

button {
    position: relative;
    display: block;
    padding: 20px;
    margin: auto;
    text-align: center;
    padding: 20px;
}

span {
    position: relative;
    display: block;
    padding: 20px;
    margin: auto;
    height: 30px;
    width: 120px;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

button:disabled {
    color: grey;
}

.h1__train{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color:  #0A3C75;
    line-height: 38px;
    margin-bottom: 1em;
}

.h2__train{
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    color: #212121;
    opacity: 0.8;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: .5em;
}

.h3__train{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #212121;
    opacity: 0.8;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: .5em;
}

.p__train_date{
    font-family: 'Inconsolata', monospace;
    font-size: 14px;
    color: #212121;
    opacity: 0.8;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 1em;
}

.participant__mark{
    font-weight: bold;
    color: #0A3C75;
    margin-left: .5em;
    font-size: 20px;
}

.enrollment-form{
    width: 100%;
    margin: 2.5em 0;
}

.enrollment-field{
    width: 100%;
    margin: .5em 0;
}