<mat-dialog-content>
  <div class="enrollForm">
    <form [formGroup]="managerForm">
      <div>
        <h2 class="h1__train">Enrollments</h2>
        <hr>
        <h2 class="h2__train">{{ userService.training.name }}</h2>
        <h3 class="h3__train"> {{ userService.training.technology }}</h3>
        <p class="p__train_date">{{ userService.training.date }} {{ userService.training.duration }}</p>
        <h3 class="h3__train">Number of participants: <strong class="participant__mark">{{ userService.training.acceptedUsers }}</strong></h3>
        <h3 class="h3__train" *ngIf="_MAX_NUMBER - formLength >= 0 ">You can add <strong class="participant__mark">{{ _MAX_NUMBER - formLength }}</strong> more participants</h3>
        <h3 class="h3__train" *ngIf="_MAX_NUMBER - formLength < 0 ">You should remove <strong class="participant__mark">{{ - (_MAX_NUMBER - formLength) }}</strong> participants</h3>
      </div>
      <div formArrayName="users" class="enrollment-form">
        <!-- <div *ngFor="let userControl of managerForm.get('users').controls; let i = index">
          <mat-form-field class="enrollment-field">
                <input type="text" placeholder="Participant e-mail address" aria-label="Number" matInput  [formControlName]="i" [matAutocomplete]="auto">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                  <mat-option *ngFor="let user of filteredUsers | async" [value]="user.mail">
                  <strong>{{ user.name }} </strong>{{ user.mail }}
                  </mat-option>
                </mat-autocomplete>                  
          </mat-form-field>
          <button mat-icon-button color="primary" class="button__manager-form" (click)="onAddUser()" [ngStyle]="setStyleAdd(i)" [disabled]="!managerForm.valid"><mat-icon class="align-icon">add</mat-icon></button>
          <button mat-icon-button color="warn" class="button__manager-form" type="button" (click)="onRemoveUser(i)" [ngStyle]="setStyleRemove(i)" [disabled]="formLength==1"><mat-icon class="align-icon">remove</mat-icon></button>
        </div>       -->
        <div *ngFor="let userControl of managerForm.get('users').controls; let i = index">
          <div [formGroupName]="i">
            <mat-form-field class="enrollment-field">              
              <input type="text" placeholder="Participant e-mail address" aria-label="Number" matInput formControlName="email" [matAutocomplete]="auto">
              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option *ngFor="let user of filteredUsers | async" [value]="user.mail">
                <strong>{{ user.name }} </strong>{{ user.mail }}
                </mat-option>
              </mat-autocomplete>                  
            </mat-form-field>
              <div class="radio">
                <label>Type:</label>
                <mat-radio-group class="type" formControlName="type">
                  <mat-radio-button *ngFor="let type of types" [value]="type">{{type}}</mat-radio-button>
                </mat-radio-group>
              </div>
              <div class="radio">
                <label>Urgency:</label>
                <mat-radio-group class="urgency" formControlName="urgency">
                  <mat-radio-button *ngFor="let urgency of urgencies" [value]="urgency">{{urgency}}</mat-radio-button>
                </mat-radio-group>
              </div>
            <textarea matInput placeholder="Comment" formControlName="comment"></textarea>
            <!-- <div class="radio" *ngFor="let type of types">
              <label>
                <input
                  type="radio"
                  formControlName="type"
                  [value]="type">{{ type }}
              </label>
            </div> -->
            <!-- <div class="radio" *ngFor="let urgency of urgencies">
                <label>
                  <input
                    type="radio"
                    formControlName="urgency"
                    [value]="urgency">{{ urgency }}
                </label>
              </div> -->
              <!-- <input type="text" placeholder="Comment" formControlName="comment"> -->
            <button mat-icon-button color="primary" class="button__manager-form" (click)="onAddUser()" [ngStyle]="setStyleAdd(i)" [disabled]="!managerForm.valid"><mat-icon class="align-icon">add</mat-icon></button>
            <button mat-icon-button color="warn" class="button__manager-form" type="button" (click)="onRemoveUser(i)" [ngStyle]="setStyleRemove(i)" [disabled]="formLength==1"><mat-icon class="align-icon">remove</mat-icon></button>
          </div>
        </div>  
      </div>     
    </form>
  </div>
  <mat-dialog-actions align="end">
      <button class="button submit__button" type="button" (click)="onSubmit()" [disabled]="!managerForm.valid">Submit</button>
  </mat-dialog-actions>
</mat-dialog-content>

