@import "~variables.scss";

div.enrollForm {
    width: 35em;
    min-height: 35em;
    height: auto;
    padding: 40px 20px;
    margin: 0 auto;
}

.enrollForm form {
    width: 100%;
}

.button{
    position: relative;
    display: block;
    margin: 0;
    float: right;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    text-shadow: none;
    text-align: center;
    font-weight: 500;
}

.add__button {
    padding: 0;
    background: transparent;
    color: $dark-blue;
}

button::after{
    box-shadow: none;
}

.submit__button{
    background: $dark-blue;
    color: $bright-white;
    float: right;
    margin: 0;
    padding: 1em 1.5em;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: $sans-serif;
    text-shadow: none;
}

span {
    position: relative;
    display: block;
    padding: 20px;
    margin: auto;
    height: 30px;
    width: 120px;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

button:disabled {
    color: grey;
}

.h1__train{
    font-family: $sans-serif;
    font-size: 30px;
    color:  $dark-blue;
    line-height: 38px;
    margin-bottom: 1em;
}

.h2__train{
    font-family: $sans-serif;
    font-size: 22px;
    color: $black;
    opacity: 0.8;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: .5em;
}

.h3__train{
    font-family: $sans-serif;
    font-size: 18px;
    color: $black;
    opacity: 0.8;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: .5em;
}

.p__train_date{
    font-family: $mono;
    font-size: 14px;
    color: $black;
    opacity: 0.8;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 1em;
}

.participant__mark{
    font-weight: bold;
    color: $dark-blue;
    margin-left: .5em;
    font-size: 20px;
}

.enrollment-form{
    width: 100%;
    margin: 2.5em 0;
}

.enrollment-field{
    width: 100%;
    margin: .5em 0;
}