<mat-dialog-content>
  <div class="enrollForm">
    <form [formGroup]="pmForm">
      <div>
        <h2 class="h1__train">Pending Enrollments</h2>
        <h2 class="h2__train">{{ userService.training.name }}</h2>
        <h3 class="h3__train">{{ userService.training.technology }}</h3>
        <p class="p__train_date">{{ userService.training.date }}</p>
      </div>
      <div formArrayName="users" class="enrollment-form">
          <div *ngFor="let user of userService.accounts; let i = index" class="pending-form">
            <div class="pending-form-part">
                <p class="minip__train">Participant e-mail address</p>
                <p class="p__train">{{ user.mail }}</p>
            </div>
            <div class="approve-buttons">
                <button class="button check__button" type="button" (click)="acceptUser(user.mail)"><mat-icon>check</mat-icon></button>
                <button class="button clear__button" type="button" (click)="denyUser(user.mail)"><mat-icon>clear</mat-icon></button>
            </div>
          </div>      
      </div>
    </form>
  </div>
  <mat-dialog-actions align="end">
      <button class="button submit__button" type="button" (click)="onSubmit()" >Submit</button>
  </mat-dialog-actions>
</mat-dialog-content>

