@import "~variables.scss";

div.enrollForm {
    width: 400px;
    height: auto;
    padding: 2.5em 1em;
    margin: 0 auto;
}

.enrollForm form {
    width: 100%;
}

button::after{
    box-shadow: none;
}

.submit__button{
    background: $dark-blue;
    color: $bright-white;
    margin: 0;
    padding: 1em 1.5em;
    font-weight: 500;
    font-family: $sans-serif;
}

span {
    position: relative;
    display: block;
    padding: 20px;
    margin: auto;
    height: 30px;
    width: 120px;
}

button:disabled {
    color: grey;
}

.h1__train{
    font-family: $sans-serif;
    font-size: 30px;
    color:  $dark-blue;
    line-height: 38px;
    margin-bottom: 15px;
}

.h2__train{
    font-family: $sans-serif;
    font-size: 22px;
    color: $black;
    opacity: 0.8;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: .3em;
}

.h3__train{
    font-family: $sans-serif;
    font-size: 18px;
    color: $black;
    opacity: 0.8;
    font-weight: 300;
    line-height: 28px;
    margin-bottom: .2em;
}

.p__train_date{
    font-family: $mono;
    font-size: 14px;
    color: $black;
    opacity: 0.8;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 1em;
}

.participant__mark{
    font-weight: bold;
    color: $dark-blue;
    margin-left: 2px;
    font-size: 20px;
}

.enrollment-form{
    width: 100%;
    margin: 2.5em 0;
}

.enrollment-field{
    width: 100%;
}

.mat-radio-button {
    margin: 0 5px;
}

textarea.mat-input-element {
    columns: $dark-blue;
}

mat-icon{
    font-size: 28px;
}

.minip__train{
    font-size: 11px;
    line-height: 15px;
    color: $dark-blue;
    font-family: 'Raleway', sans-serif;
}

.p__train{
    font-size: 17px;
    line-height: 24px;
    margin-top: .2em;
    font-family: 'Raleway', sans-serif;
}

.pending-form{
    margin: 1.3em 0;
}

.button{
    position: relative;
    display: block;
    margin: 0;
    float: right;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    text-shadow: none;
    text-align: center;
    font-weight: 500;
}

.align-icon{
    margin-right: 0.3em;
}

.approve-buttons{
    display: flex;
    justify-content: flex-end;
    float: right;
}

.radio-group{
    margin-top: -23px !important;
}

.radio {
    margin: 10px 0;
}

.check-btn{
    margin-right: .7em;
}

.button__manager-form{
    display: inline-flex;
    justify-content: flex-end;
    float: right;
    margin: 0;
    padding: 0;
    transition: .1s cubic-bezier(.57,.21,.69,1.25);
}

.pending-form-part{
    width: 70%;
    display: inline-flex;
    flex-direction: column;
}

hr {
    height: 1px;
    background: $dark-blue;
    width: 50px;
    margin: 15px 0 20px 0;
}