<!---->
<!--<mat-grid-list class="dashboard__grid" cols="1">-->
  <!--<div class="container">-->
    <!--<div class="box" *ngFor="let training of trainings" (click)="openEditDialog(training)">-->
      <!--<mat-card >-->
        <!--<mat-card-title class="training-name">{{ training.name }}</mat-card-title>-->
        <!--<hr>-->
        <!--<mat-card-content>-->
          <!-- </h2>-->
        <!--</mat-card-content>-->
        <!--<mat-card-footer>-->

        <!--</mat-card-footer>-->
        <!--&lt;!&ndash;<button mat-raised-button class="button__enroll" color="primary">&ndash;&gt;-->
          <!--&lt;!&ndash;Enroll&ndash;&gt;-->
        <!--&lt;!&ndash;</button>&ndash;&gt;-->

      <!--</mat-card>-->
    <!--</div>-->
  <!--</div>-->
<!--</mat-grid-list>-->
<h2 class="subtitle">All trainings</h2>
<mat-accordion>
  <div *ngFor="let training of trainings">
  <mat-expansion-panel [@flyInOut]="'in'">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h2 class="training-name">{{ training.name }}</h2>
      </mat-panel-title>
      <mat-panel-description>
        <h2 class="vendor-name">{{ training.vendor }}</h2>
      </mat-panel-description>
      <!-- <span (click)="onDelete(training)"><mat-icon>delete</mat-icon></span> -->
      <button (click)="onDelete(training)" mat-icon-button color="warn">
        <mat-icon aria-label="Delete this training!">delete</mat-icon>
      </button>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <mat-grid-list id="show-trainings" cols="2">
        <mat-grid-tile>
          <div class="info-group">
            <p class="minip__train">Technology</p>
            <div class="editable">
              <button (click)="onEdit(training)" mat-icon-button color="primary">
                <mat-icon aria-label="Edit">edit</mat-icon>
              </button>
              <span class="vendor-name">{{ training.technology }}</span>
            </div>
          </div>
          <div class="info-group">
            <p class="minip__train">Vendor</p>
            <p class="vendor-name">{{ training.vendor }}</p>
          </div>
          <div class="info-group">
            <p class="minip__train">Training Responsible</p>
            <p class="vendor-name">{{ training.trainingResponsible.name }}</p>
          </div>
          <div class="info-group">
            <p class="minip__train">Training Responsible e-mail address</p>
            <p class="vendor-name">{{ training.trainingResponsible.mail }}</p>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="info-group">
            <p class="minip__train">Date</p>
            <p class="training-date">{{ training.date }}</p>
          </div>
          <div class="info-group">
            <p class="minip__train">Available seats</p>
            <p class="babyp__train">Minimum number of seats</p>
            <p class="training-date">{{ training.nrMin }}</p>
            <p class="babyp__train">Maximum number of seats</p>
            <p class="training-date">{{ training.nrMax }}</p>
          </div>
          <div class="info-group">
            <p class="minip__train">Accepted participants</p>
            <p class="training-date">{{ training.acceptedUsers }}</p>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </ng-template>
  </mat-expansion-panel>
  </div>
</mat-accordion>
