<!---->
<!--<mat-grid-list class="dashboard__grid" cols="1">-->
  <!--<div class="container">-->
    <!--<div class="box" *ngFor="let training of trainings" (click)="openEditDialog(training)">-->
      <!--<mat-card >-->
        <!--<mat-card-title class="training-name">{{ training.name }}</mat-card-title>-->
        <!--<hr>-->
        <!--<mat-card-content>-->
          <!-- </h2>-->
        <!--</mat-card-content>-->
        <!--<mat-card-footer>-->

        <!--</mat-card-footer>-->
        <!--&lt;!&ndash;<button mat-raised-button class="button__enroll" color="primary">&ndash;&gt;-->
          <!--&lt;!&ndash;Enroll&ndash;&gt;-->
        <!--&lt;!&ndash;</button>&ndash;&gt;-->

      <!--</mat-card>-->
    <!--</div>-->
  <!--</div>-->
<!--</mat-grid-list>-->
<h2 class="subtitle">All trainings</h2>
<mat-accordion>
  <div *ngFor="let training of trainings">
  <mat-expansion-panel [@flyInOut]="'in'">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h2 class="training-name">{{ training.name }}</h2>
      </mat-panel-title>
      <mat-panel-description>
        <h2 class="vendor-name">{{ training.vendor }}</h2>
      </mat-panel-description>
      <!-- <span (click)="onDelete(training)"><mat-icon>delete</mat-icon></span> -->
      <button (click)="onDelete(training)" mat-icon-button color="warn">
        <mat-icon aria-label="Delete this training!">delete</mat-icon>
      </button>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <div class="info-group">
        <p class="minip__train">Technology</p>
        <inline-editor [(ngModel)]="training.technology" (onSave)="saveEditable($event)" class="vendor-name">{{ training.technology }}</inline-editor>
      </div>
      <div class="info-group">
        <p class="minip__train">Vendor</p>
        <inline-editor [(ngModel)]="training.vendor" (onSave)="saveEditable($event)" class="vendor-name">{{ training.vendor }}</inline-editor>
      </div>
      <div class="info-group">
        <p class="minip__train">Training Responsible</p>
        <inline-editor [(ngModel)]="training.trainingResponsible.name" (onSave)="saveEditable($event)" class="vendor-name">{{ training.trainingResponsible.name }}</inline-editor>
      </div>
      <div class="info-group">
        <p class="minip__train">Training Responsible e-mail address</p>
        <inline-editor [(ngModel)]="training.trainingResponsible.mail" (onSave)="saveEditable($event)" class="vendor-name">{{ training.trainingResponsible.mail }}</inline-editor>
      </div>
      <div class="info-group">
        <p class="minip__train">Date</p>
        <inline-editor [(ngModel)]="training.date" (onSave)="saveEditable($event)" class="training-date">{{ training.date }}</inline-editor>
      </div>
      <div class="info-group">
        <p class="minip__train">Available seats</p>
        <p class="babyp__train">Minimum number of seats</p>
          <inline-editor [(ngModel)]="training.nrMin" (onSave)="saveEditable($event)" class="training-date">{{ training.nrMin }}</inline-editor>
        <p class="babyp__train">Maximum number of seats</p>
          <inline-editor [(ngModel)]="training.nrMax" (onSave)="saveEditable($event)" class="training-date">{{ training.nrMax }}</inline-editor>
      </div>
      <div class="info-group">
        <p class="minip__train">Accepted participants</p>
        <inline-editor [(ngModel)]="training.acceptedUsers" (onSave)="saveEditable($event)" class="training-date">{{ training.acceptedUsers }}</inline-editor>
      </div>
    </ng-template>
  </mat-expansion-panel>
  </div>
</mat-accordion>
