@import "../../../styles/variables.scss";
.subtitle {
  font-size: 20px;
  font-weight: 500;
  font-family: 'Montserrat', $sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 24px;
  margin: 1.5em 2em 1.5em;
  color: $dark-blue;
  text-shadow: 2px 2px 7px rgba(black, .15);
}

.container {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start !important;
}

.mat-card {
  width: 90vw !important;
  margin: .7em 0 0;
  padding: 1.3em !important;
}

.training-name {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: $dark-blue;
  letter-spacing: -1px;
  line-height: 16px;
  font-weight: normal;
}

.vendor-name {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  margin-left: .4em;
  font-weight: normal;
}

.training-date {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  margin-left: .4em;
  font-weight: normal;
}

.progress-bar {
  display: block;
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.technical {
  background: linear-gradient(45deg, rgba($dark-blue, 1) 0%, rgba(204, 53, 73, 1) 100%);
  box-shadow: 0 1px 20px rgba(204, 53, 73, 0.3);
}

.soft-skills {
  background: linear-gradient(45deg, #348F50 0%, #56B4D3 100%);
  box-shadow: 0 1px 20px rgba(52, 143, 80, .4);
}

div.mat-expansion-panel-content:not(.mat-expanded) {
  height: 0px !important;
  visibility: hidden !important;
}

.mat-expansion-panel-header {
  height: 38px !important;
}

.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled='true']):hover {
  background: #F7F7F9;
}

.mat-expansion-panel-header {
  padding: .8em 1.5em;
}

.mat-expansion-panel {
  width: 94vw;
  margin: 0.1em auto 0.1em;
}

.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  flex-basis: 0;
}

.minip__train {
  font-size: 12px;
  margin-bottom: .2em;
  line-height: 15px;
  color: $dark-blue;
  font-family: 'Raleway', sans-serif;
}

.babyp__train{
  font-size: 10px;
  margin-bottom: .2em;
  line-height: 15px;
  margin-top: 0.8em;
  color: $dark-blue;
  font-family: 'Raleway', sans-serif;
}

.info-group {
  margin-bottom: 1em;
  padding-left: 22px;
}

.info-group:last-child{
  padding-bottom: 1.5em;
}

.mat-expansion-panel-header.mat-expanded.mat-expansion-panel-header-description {
  visibility: hidden !important;
}

.mat-icon-button {
  margin-right: 20px;
  height: 20px;
  width: 20px;
}
