.overlay {
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .45);
}

.manager__form {
    position: absolute;
    width: 500px;
    min-height: 700px;    
    height: auto;
    margin-left: calc(50vw - 250px);
    margin-top: 15vh;
    text-align: left;
    top: 0;
    left: 0;
    padding: 30px;
    background: linear-gradient(135deg, #DADADA 0%, #F9F9F9 70%);        
}

.manager__form h2 {
    font-size: 32px;
}