<div class="secondary-menu">
    <span><h1>Trainings</h1></span>
    <button mat-button class="active">All</button>
    <button mat-button>Soft Skills</button>
    <button mat-button>Technical</button>
    <form class="example-form">
            <mat-form-field class="example-full-width">
                      <input type="text" matInput placeholder="Search">
                      <mat-icon matSuffix>mode_search</mat-icon>
            </mat-form-field>                
    </form>                                      
</div>