<ng4-loading-spinner> </ng4-loading-spinner>
<div class="main">
    <h1 class="title">Trainings</h1>
    <mat-tab-group>
        <mat-tab label="All">
            <div *ngIf="allRecommendedTrainings.length > 0 && userService.currentUser.type === 'USER'">
                <h2 class="subtitle">Recommended for you</h2>
                <mat-grid-list class="dashboard__grid" cols="4">
                    <div class="container" fxLayout fxLayout.xs="column" fxLayoutGap="20px" fxLayoutGap.xs="4px" fxFlex="auto">
                        <div class="box" fxFlex="340px" *ngFor="let training of allRecommendedTrainings" (click)="openDialog(training)">
                            <mat-card [@flyInOut]="'in'">
                                <mat-card-title>{{ training.technology }}</mat-card-title>
                                <hr>
                                <button mat-raised-button class="button__enroll" color="accent">Enroll</button>
                                <div class="number free" *ngIf="training.acceptedUsers !== 15">{{training.acceptedUsers}}/15</div>
                                <div class="number full" *ngIf="training.acceptedUsers === 15">FULL</div>
                                <mat-card-content> {{ training.name }} </mat-card-content>
                                <mat-card-footer> {{ training.date }} </mat-card-footer>
                                <div class="number duration" *ngIf="training.duration !== '-1'"> {{ training.duration }} </div>
                                <button
                                    mat-raised-button class="button__enroll"
                                    color="primary"
                                    (click)="selfEnroll(training)"
                                    *ngIf="userService.currentUser.type === 'USER'">
                                    Enroll
                                </button>
                                <div class="progress-bar soft-skills" *ngIf="training.categoryType === 'SOFT'"></div>
                                <div class="progress-bar technical" *ngIf="training.categoryType === 'TECHNICAL'"></div>
                            </mat-card>
                        </div>
                    </div>
                </mat-grid-list>
                <h2 class="subtitle">All available trainings</h2>
            </div>
            
            <mat-grid-list class="dashboard__grid" cols="4">
                <div class="container" fxLayout fxLayout.xs="column" fxLayoutGap="20px" fxLayoutGap.xs="4px" fxFlex="auto">
                    <div class="box" fxFlex="340px" *ngFor="let training of allTrainings" (click)="openDialog(training)" 
                    infinite-scroll [infiniteScrollThrottle]="300" (scrolled)="onScrollDown(allTrainings, originalTrainings)"
                    [@flyInOut]="'in'">
                        <mat-card>
                            <mat-card-title>{{ training.technology }}</mat-card-title>
                            <hr>
                            <div class="number free" *ngIf="training.acceptedUsers !== 15">{{training.acceptedUsers}}/15</div>
                            <div class="number full" *ngIf="training.acceptedUsers === 15">FULL</div>
                            <mat-card-content> {{ training.name }} </mat-card-content>
                            <mat-card-footer> {{ training.date }} </mat-card-footer>
                            <div class="number duration" *ngIf="training.duration !== '-1'"> {{ training.duration }} </div>
                            <button
                                mat-raised-button class="button__enroll"
                                color="primary"
                                (click)="selfEnroll(training)"
                                *ngIf="userService.currentUser.type === 'USER'">
                                Enroll
                            </button>
                            <div class="progress-bar soft-skills" *ngIf="training.categoryType === 'SOFT'"></div>
                            <div class="progress-bar technical" *ngIf="training.categoryType === 'TECHNICAL'"></div>
                        </mat-card>
                    </div>
                </div>
            </mat-grid-list>
        </mat-tab>
        <mat-tab label="Soft Skills">
            <div *ngIf="softRecommendedTrainings.length > 0  && userService.currentUser.type === 'USER'">
                <h2 class="subtitle">Recommended for you</h2>
                <mat-grid-list class="dashboard__grid" cols="4">
                    <div class="container" fxLayout fxLayout.xs="column" fxLayoutGap="20px" fxLayoutGap.xs="4px" fxFlex="auto">
                        <div class="box" fxFlex="340px" *ngFor="let training of softRecommendedTrainings" (click)="openDialog(training)">
                            <mat-card>
                                <mat-card-title>{{ training.technology }}</mat-card-title>
                                <hr>
                                <div class="number free" *ngIf="training.acceptedUsers !== 15">{{training.acceptedUsers}}/15</div>
                                <div class="number full" *ngIf="training.acceptedUsers === 15">FULL</div>
                                <mat-card-content> {{ training.name }} </mat-card-content>
                                <mat-card-footer> {{ training.date }} </mat-card-footer>
                                <div class="number duration" *ngIf="training.duration !== '-1'"> {{ training.duration }} </div>   
                                <button
                                    mat-raised-button class="button__enroll"
                                    color="primary"
                                    (click)="selfEnroll(training)"
                                    *ngIf="userService.currentUser.type === 'USER'">
                                    Enroll
                                </button>                        
                                <div class="progress-bar soft-skills" *ngIf="training.categoryType === 'SOFT'"></div>
                                <div class="progress-bar technical" *ngIf="training.categoryType === 'TECHNICAL'"></div>
                            </mat-card>
                        </div>
                    </div>
                </mat-grid-list>
                <h2 class="subtitle">All available trainings</h2>
            </div>
            <mat-grid-list class="dashboard__grid" cols="4">
                <div class="container" fxLayout fxLayout.xs="column" fxLayoutGap="20px" fxLayoutGap.xs="4px" fxFlex="auto">
                    <div class="box" fxFlex="340px" *ngFor="let training of softTrainings" (click)="openDialog(training)" 
                    infinite-scroll [infiniteScrollThrottle]="300" (scrolled)="onScrollDown(softTrainings, allSoftTrainings)">
                        <mat-card>
                            <mat-card-title>{{ training.technology }}</mat-card-title>
                            <hr>
                            <div class="number free" *ngIf="training.acceptedUsers !== 15">{{training.acceptedUsers}}/15</div>
                            <div class="number full" *ngIf="training.acceptedUsers === 15">FULL</div>
                            <mat-card-content> {{ training.name }} </mat-card-content>
                            <mat-card-footer> {{ training.date }} </mat-card-footer>
                            <div class="number duration" *ngIf="training.duration !== '-1'"> {{ training.duration }} </div>
                            <button
                                mat-raised-button class="button__enroll"
                                color="primary"
                                (click)="selfEnroll(training)"
                                *ngIf="userService.currentUser.type === 'USER'">
                                Enroll
                            </button>                          
                            <div class="progress-bar soft-skills" *ngIf="training.categoryType === 'SOFT'"></div>
                            <div class="progress-bar technical" *ngIf="training.categoryType === 'TECHNICAL'"></div>
                        </mat-card>
                    </div>
                </div>
            </mat-grid-list>
        </mat-tab>
        <mat-tab label="Technical">
            <div *ngIf="techRecommendedTrainings.length > 0  && userService.currentUser.type === 'USER'">
                <h2 class="subtitle">Recommended for you</h2>
                <mat-grid-list class="dashboard__grid" cols="4">
                    <div class="container" fxLayout fxLayout.xs="column" fxLayoutGap="20px" fxLayoutGap.xs="4px" fxFlex="auto">
                        <div class="box" fxFlex="340px" *ngFor="let training of techRecommendedTrainings" (click)="openDialog(training)">
                            <mat-card>
                                <mat-card-title>{{ training.technology }}</mat-card-title>
                                <hr>
                                <div class="number free" *ngIf="training.acceptedUsers !== 15">{{training.acceptedUsers}}/15</div>
                                <div class="number full" *ngIf="training.acceptedUsers === 15">FULL</div>
                                <mat-card-content> {{ training.name }} </mat-card-content>
                                <mat-card-footer> {{ training.date }} </mat-card-footer>
                                <div class="number duration" *ngIf="training.duration !== '-1'"> {{ training.duration }} </div>  
                                <button
                                    mat-raised-button class="button__enroll"
                                    color="primary"
                                    (click)="selfEnroll(training)"
                                    *ngIf="userService.currentUser.type === 'USER'">
                                    Enroll
                                </button>                         
                                <div class="progress-bar soft-skills" *ngIf="training.categoryType === 'SOFT'"></div>
                                <div class="progress-bar technical" *ngIf="training.categoryType === 'TECHNICAL'"></div>
                            </mat-card>
                        </div>
                    </div>
                </mat-grid-list>
                <h2 class="subtitle">All available trainings</h2>
            </div>
            <mat-grid-list class="dashboard__grid" cols="4">
                <div class="container" fxLayout fxLayout.xs="column" fxLayoutGap="20px" fxLayoutGap.xs="4px" fxFlex="auto">
                    <div class="box" fxFlex="340px" *ngFor="let training of techTrainings" (click)="openDialog(training)" 
                    infinite-scroll [infiniteScrollThrottle]="300" (scrolled)="onScrollDown(techTrainings, allTechTrainings)">
                        <mat-card>
                            <mat-card-title>{{ training.technology }}</mat-card-title>
                            <hr>
                            <div class="number free" *ngIf="training.acceptedUsers !== 15">{{training.acceptedUsers}}/15</div>
                            <div class="number full" *ngIf="training.acceptedUsers === 15">FULL</div>
                            <mat-card-content> {{ training.name }} </mat-card-content>
                            <mat-card-footer> {{ training.date }} </mat-card-footer>
                            <div class="number duration" *ngIf="training.duration !== '-1'"> {{ training.duration }} </div>   
                            <button
                                mat-raised-button class="button__enroll"
                                color="primary"
                                (click)="selfEnroll(training)"
                                *ngIf="userService.currentUser.type === 'USER'">
                                Enroll
                            </button>                         
                            <div class="progress-bar soft-skills" *ngIf="training.categoryType === 'SOFT'"></div>
                            <div class="progress-bar technical" *ngIf="training.categoryType === 'TECHNICAL'"></div>
                        </mat-card>
                    </div>
                </div>
            </mat-grid-list>
        </mat-tab>
        <!-- <mat-tab>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                  <input type="text" matInput placeholder="Search">
                    <mat-icon matSuffix>mode_search</mat-icon>
                </mat-form-field>                
            </form>
        </mat-tab> -->
    </mat-tab-group>
</div>