<ng4-loading-spinner> </ng4-loading-spinner>
<div class="main">
  <h1 class="title">Trainings</h1>
  <form class="example-form search-box">
    <mat-form-field class="example-full-width">
      <input type="text" name="Search" matInput placeholder="Search" [(ngModel)]="term">
      <!-- <mat-icon matSuffix>mode_search</mat-icon> -->
    </mat-form-field>
  </form>
  <mat-tab-group>
    <mat-tab label="All">
      <div *ngIf="allRecommendedTrainings.length > 0 && userService.currentUser.type === 'USER'">
        <h2 class="subtitle">Recommended for you</h2>
        <mat-grid-list class="dashboard__grid" cols="4">
          <div class="container" fxLayout fxLayout.xs="column" fxLayoutGap="20px" fxLayoutGap.xs="4px" fxFlex="auto">
            <div class="box" fxFlex="380px" *ngFor="let training of allRecommendedTrainings | filter:term:'technology'" (click)="openDialog(training)">
              <mat-card [@flyInOut]="'in'">
                <mat-card-title>{{ training.technology }}</mat-card-title>
                <hr>
                <button mat-raised-button class="button__enroll" color="accent">Enroll</button>
                <div class="number free" *ngIf="(training.acceptedUsers !== training.nrMax) && (training.nrMax === null)">{{training.acceptedUsers}} enrolled</div>
                <div class="number free" *ngIf="(training.acceptedUsers !== training.nrMax) && (training.nrMax !== null)">{{training.nrMax - training.acceptedUsers}} available seats</div>
                <div class="number full" *ngIf="training.acceptedUsers === training.nrMax">FULL</div>
                <mat-card-content> {{ training.name }} </mat-card-content>
                <mat-card-footer> {{ training.date }} </mat-card-footer>
                <div class="number vendor"> {{ training.vendor }} </div>
                <button mat-raised-button class="button__enroll" color="primary" (click)="selfEnroll(training)" *ngIf="userService.currentUser.type === 'USER' && userService.userEnrollmentsIdList.indexOf(training.id) === -1">
                  Enroll
                </button>
                <div class="progress-bar soft-skills" *ngIf="training.categoryType === 'SOFT'"></div>
                <div class="progress-bar technical" *ngIf="training.categoryType === 'TECHNICAL'"></div>
              </mat-card>
            </div>
          </div>
        </mat-grid-list>
        <h2 class="subtitle">All available trainings</h2>
      </div>

      <mat-grid-list class="dashboard__grid" cols="4">
        <div class="container" infiniteScroll (infiniteScrollAction)="onScrollDown()" fxLayout fxLayout.xs="column" fxLayoutGap="20px" fxLayoutGap.xs="4px" fxFlex="auto">
          <div class="box" fxFlex="380px" *ngFor="let training of allTrainings | filter:term:'technology'" (click)="openDialog(training)"
             [@flyInOut]="'in'">
            <mat-card>
              <mat-card-title>{{ training.technology }}</mat-card-title>
              <hr>
              <div class="number free" *ngIf="(training.acceptedUsers !== training.nrMax) && (training.nrMax === null)">{{training.acceptedUsers}} enrolled</div>
              <div class="number free" *ngIf="(training.acceptedUsers !== training.nrMax) && (training.nrMax !== null)">{{training.nrMax - training.acceptedUsers}} available seats</div>
              <div class="number full" *ngIf="training.acceptedUsers === training.nrMax">FULL</div>
              <mat-card-content> {{ training.name }} </mat-card-content>
              <mat-card-footer> {{ training.date }} </mat-card-footer>
              <div class="number vendor"> {{ training.vendor }} </div>
              <button mat-raised-button class="button__enroll" color="primary" (click)="selfEnroll(training)" *ngIf="userService.currentUser.type === 'USER' && userService.userEnrollmentsIdList.indexOf(training.id) === -1">
                Enroll
              </button>
              <div class="progress-bar soft-skills" *ngIf="training.categoryType === 'SOFT'"></div>
              <div class="progress-bar technical" *ngIf="training.categoryType === 'TECHNICAL'"></div>
            </mat-card>
          </div>
        </div>
      </mat-grid-list>
    </mat-tab>
    <mat-tab label="Soft Skills">
      <div *ngIf="softRecommendedTrainings.length > 0  && userService.currentUser.type === 'USER'">
        <h2 class="subtitle">Recommended for you</h2>
        <mat-grid-list class="dashboard__grid" cols="4">
          <div class="container" fxLayout fxLayout.xs="column" fxLayoutGap="20px" fxLayoutGap.xs="4px" fxFlex="auto">
            <div class="box" fxFlex="380px" *ngFor="let training of softRecommendedTrainings | filter:term:'technology'" (click)="openDialog(training)">
              <mat-card>
                <mat-card-title>{{ training.technology }}</mat-card-title>
                <hr>
                <div class="number free" *ngIf="(training.acceptedUsers !== training.nrMax) && (training.nrMax === null)">{{training.acceptedUsers}} enrolled</div>
                <div class="number free" *ngIf="(training.acceptedUsers !== training.nrMax) && (training.nrMax !== null)">{{training.nrMax - training.acceptedUsers}} available seats</div>
                <div class="number full" *ngIf="training.acceptedUsers === training.nrMax">FULL</div>
                <mat-card-content> {{ training.name }} </mat-card-content>
                <mat-card-footer> {{ training.date }} </mat-card-footer>
                <div class="number vendor"> {{ training.vendor }} </div>
                <button mat-raised-button class="button__enroll" color="primary" (click)="selfEnroll(training)" *ngIf="userService.currentUser.type === 'USER' && userService.userEnrollmentsIdList.indexOf(training.id) === -1">
                  Enroll
                </button>
                <div class="progress-bar soft-skills" *ngIf="training.categoryType === 'SOFT'"></div>
                <div class="progress-bar technical" *ngIf="training.categoryType === 'TECHNICAL'"></div>
              </mat-card>
            </div>
          </div>
        </mat-grid-list>
        <h2 class="subtitle">All available trainings</h2>
      </div>
      <mat-grid-list class="dashboard__grid" cols="4">
        <div class="container" fxLayout fxLayout.xs="column" fxLayoutGap="20px" fxLayoutGap.xs="4px" fxFlex="auto">
          <div class="box" fxFlex="380px" infiniteScroll (infiniteScrollAction)="onScrollDown()" *ngFor="let training of allSoftTrainings | filter:term:'technology'" (click)="openDialog(training)">
            <mat-card>
              <mat-card-title>{{ training.technology }}</mat-card-title>
              <hr>
              <div class="number free" *ngIf="(training.acceptedUsers !== training.nrMax) && (training.nrMax === null)">{{training.acceptedUsers}} enrolled</div>
              <div class="number free" *ngIf="(training.acceptedUsers !== training.nrMax) && (training.nrMax !== null)">{{training.nrMax - training.acceptedUsers}} available seats</div>
              <div class="number full" *ngIf="training.acceptedUsers === training.nrMax">FULL</div>
              <mat-card-content> {{ training.name }} </mat-card-content>
              <mat-card-footer> {{ training.date }} </mat-card-footer>
              <div class="number vendor"> {{ training.vendor }} </div>
              <button mat-raised-button class="button__enroll" color="primary" (click)="selfEnroll(training)" *ngIf="userService.currentUser.type === 'USER' && userService.userEnrollmentsIdList.indexOf(training.id) === -1">
                Enroll
              </button>
              <div class="progress-bar soft-skills" *ngIf="training.categoryType === 'SOFT'"></div>
              <div class="progress-bar technical" *ngIf="training.categoryType === 'TECHNICAL'"></div>
            </mat-card>
          </div>
        </div>
      </mat-grid-list>
    </mat-tab>
    <mat-tab label="Technical">
      <div *ngIf="techRecommendedTrainings.length > 0  && userService.currentUser.type === 'USER'">
        <h2 class="subtitle">Recommended for you</h2>
        <mat-grid-list class="dashboard__grid" cols="4">
          <div class="container" fxLayout fxLayout.xs="column" fxLayoutGap="20px" fxLayoutGap.xs="4px" fxFlex="auto">
            <div class="box" fxFlex="380px" *ngFor="let training of techRecommendedTrainings | filter:term:'technology'" (click)="openDialog(training)">
              <mat-card>
                <mat-card-title>{{ training.technology }}</mat-card-title>
                <hr>
                <div class="number free" *ngIf="(training.acceptedUsers !== training.nrMax) && (training.nrMax === null)">{{training.acceptedUsers}} enrolled</div>
                <div class="number free" *ngIf="(training.acceptedUsers !== training.nrMax) && (training.nrMax !== null)">{{training.nrMax - training.acceptedUsers}} available seats</div>
                <div class="number full" *ngIf="training.acceptedUsers === training.nrMax">FULL</div>
                <mat-card-content> {{ training.name }} </mat-card-content>
                <mat-card-footer> {{ training.date }} </mat-card-footer>
                <div class="number vendor"> {{ training.vendor }} </div>
                <button mat-raised-button class="button__enroll" color="primary" (click)="selfEnroll(training)" *ngIf="userService.currentUser.type === 'USER' && userService.userEnrollmentsIdList.indexOf(training.id) === -1">
                  Enroll
                </button>
                <div class="progress-bar soft-skills" *ngIf="training.categoryType === 'SOFT'"></div>
                <div class="progress-bar technical" *ngIf="training.categoryType === 'TECHNICAL'"></div>
              </mat-card>
            </div>
          </div>
        </mat-grid-list>
        <h2 class="subtitle">All available trainings</h2>
      </div>
      <mat-grid-list class="dashboard__grid" cols="4">
        <div class="container" fxLayout fxLayout.xs="column" fxLayoutGap="20px" fxLayoutGap.xs="4px" fxFlex="auto">
          <div class="box" fxFlex="380px" infiniteScroll (infiniteScrollAction)="onScrollDown()" *ngFor="let training of allTechTrainings | filter:term:'technology'" (click)="openDialog(training)">
            <mat-card>
              <mat-card-title>{{ training.technology }}</mat-card-title>
              <hr>
              <div class="number free" *ngIf="(training.acceptedUsers !== training.nrMax) && (training.nrMax === null)">{{training.acceptedUsers}} enrolled</div>
              <div class="number free" *ngIf="(training.acceptedUsers !== training.nrMax) && (training.nrMax !== null)">{{training.nrMax - training.acceptedUsers}} available seats</div>
              <div class="number full" *ngIf="training.acceptedUsers === training.nrMax">FULL</div>
              <mat-card-content> {{ training.name }} </mat-card-content>
              <mat-card-footer> {{ training.date }} </mat-card-footer>
              <div class="number vendor"> {{ training.vendor }} </div>
              <button mat-raised-button class="button__enroll" color="primary" (click)="selfEnroll(training)" *ngIf="userService.currentUser.type === 'USER' && userService.userEnrollmentsIdList.indexOf(training.id) === -1">
                Enroll
              </button>
              <div class="progress-bar soft-skills" *ngIf="training.categoryType === 'SOFT'"></div>
              <div class="progress-bar technical" *ngIf="training.categoryType === 'TECHNICAL'"></div>
            </mat-card>
          </div>
        </div>
      </mat-grid-list>
    </mat-tab>
    <mat-tab label="Pending" *ngIf="userService.currentUser.type === 'MANAGER'">
      <h2 class="subtitle">Pending users</h2>
      <mat-grid-list class="dashboard__grid" cols="4">
        <div class="container" fxLayout fxLayout.xs="column" fxLayoutGap="20px" fxLayoutGap.xs="4px" fxFlex="auto">
          <div class="box" fxFlex="340px" *ngFor="let training of apiService.selfEnrolledTrainings" (click)="openDialog(training)">
            <mat-card>
              <mat-card-title>{{ training.technology }}</mat-card-title>
              <hr>
              <div class="number free" *ngIf="(training.acceptedUsers !== training.nrMax) && (training.nrMax === null)">{{training.acceptedUsers}} enrolled</div>
              <div class="number free" *ngIf="(training.acceptedUsers !== training.nrMax) && (training.nrMax !== null)">{{training.acceptedUsers}}/{{training.nrMax}}</div>
              <div class="number full" *ngIf="training.acceptedUsers === training.nrMax">FULL</div>
              <mat-card-content> {{ training.name }} </mat-card-content>
              <mat-card-footer> {{ training.date }} </mat-card-footer>
              <div class="number vendor"> {{ training.vendor }} </div>
            </mat-card>
          </div>
        </div>
      </mat-grid-list>
    </mat-tab>
  </mat-tab-group>
</div>
