<mat-dialog-content class="login">
  <h2>Login</h2>
  <hr>
  <form id="loginForm" role="form" (ngSubmit)="onLogin(f)" #f="ngForm" autocomplete="off">
    <mat-form-field>
      <input matInput placeholder="Email"
      type="email" id="username" name="username" required ngModel>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Password" autocomplete="off"
      [type]="hide ? 'text' : 'password'"
      type="password" id="password" name="password" required ngModel>
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
    </mat-form-field>
    <mat-dialog-actions>
    <button mat-raised-button class="login-button" type="submit" autocomplete="off"
    name="submit" [disabled]='!f.valid'>LOGIN</button>
    <div *ngIf='isLoginError' class="error">Please input valid credentials.</div>
</mat-dialog-actions>
</form>

</mat-dialog-content>