.mat-toolbar, .mat-toolbar-multiple-rows {
  height: 54px;
  min-height: 54px;
  max-height: 54px;
}
.mat-toolbar-row img {
  width: 30px;
  height: auto;
  margin-right: 10px;
}

.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }

  .mat-toolbar {
    background: linear-gradient(45deg, rgba(10,60,117,1) 20%, rgba(50,60,127,1) 100%); /* w3c */
    color: #EFEFEF;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .15), 0 5px 25px rgba(0, 0, 0, .2);
  }
  
  .page-title {
    text-shadow: 0 2px 3px rgba(0, 0, 0, .3);
  }