<mat-toolbar>
  <mat-toolbar-row>
    <a routerLink="/trainings" class="a__home"> 
      <img src="../../img/db_logo_white.png" alt="Deutsche Bank Logo">
      <span class="page-title">DB Training Enrollment</span>
    </a>
    <span class="example-spacer"></span>
    <a routerLink="/enrollments"> 
      <button mat-button *ngIf="router.url === '/trainings'">Enrollments</button>
    </a>       
    <a routerLink="/trainings"> 
      <button mat-button *ngIf="router.url === '/enrollments'">Trainings</button>
    </a>       
    <button mat-button>Log In</button>   
  </mat-toolbar-row>
</mat-toolbar>
  