<mat-toolbar>
  <mat-toolbar-row>
    <a routerLink="/trainings" class="a__home">
      <img src="../../assets/img/db_logo_white.png" alt="Deutsche Bank Logo">
      <span class="page-title">{{ 'PAGE_TITLE' | translate }}</span>
    </a>
    <button class="language-button" *ngIf="translate.currentLang === 'ro'" (click)="switchLanguage('en')">RO</button>
    <button class="language-button" *ngIf="translate.currentLang === 'en'" (click)="switchLanguage('ro')">EN</button>
    <span class="example-spacer"></span>
    <h4 class="name" *ngIf="userService.currentUser.name">{{ 'HELLO' | translate }}, {{ userService.currentUser.name }}</h4>
    <span  *ngIf="userService.currentUser.type === 'USER'">
      <mat-icon class="notificationButton" color="warn" [matMenuTriggerFor]="menu" *ngIf="userService.newNoticationsList.length">notifications_active</mat-icon>
      <a routerLink="/notifications">
        <mat-icon color="warn" *ngIf="!userService.newNoticationsList.length && router.url !== '/notifications'">notifications_none</mat-icon>
      </a>
      <mat-menu #menu="matMenu" id="notification-menu">
        <div *ngFor="let notification of userService.newNoticationsList | slice : 0 : 4">
          <mat-card class="notification-card">
            <div class="notification">
              <mat-icon color="accent" *ngIf="notification.type === 'APPROVAL'">event_available</mat-icon>
              <mat-icon color="warn" *ngIf="notification.type === 'DENIAL'">event_busy</mat-icon>
              <mat-icon color="primary" *ngIf="notification.type === 'UPDATE'">update</mat-icon>
              <mat-icon color="warn" *ngIf="notification.type === 'DELETE'">whatshot</mat-icon>
              <p class="notification__p-popup">{{ notification.message }}</p>
              <p class="minip__train-popup">{{ notification.date }}</p>
            </div>
          </mat-card>
        </div>
        <a routerLink="/notifications" class="notification">
          <button mat-raised-button color="primary" class="see-more" *ngIf="router.url !== '/notifications'">{{ 'SEEALLNOTIFICATIONS' | translate }}</button>
        </a>
      </mat-menu>
    </span>
    <a routerLink="/enrollments" class="trainings" *ngIf="userService.currentUser.type === 'SPOC'">
      <button mat-raised-button color="warn" *ngIf="router.url !== '/enrollments'">{{ 'ENROLLMENTSROUTER' | translate }}</button>
    </a>
    <a routerLink="/admin" class="trainings" *ngIf="userService.currentUser.type === 'ADMIN'">
      <button mat-raised-button color="warn" *ngIf="router.url !== '/admin'">Admin</button>
    </a>
    <a routerLink="/trainings" class="trainings">
      <button mat-raised-button color="warn" *ngIf="router.url !== '/trainings'">{{ 'TRAININGSROUTER' | translate }}</button>
    </a>
    <a routerLink="/reports" class="reports" *ngIf="userService.currentUser.type === 'ADMIN'">
      <button mat-raised-button color="warn" *ngIf="router.url !== '/reports'">{{ 'REPORTSROUTER' | translate }}</button>
    </a>
    <a routerLink="/myTrainings" class="reports" *ngIf="userService.currentUser.type === 'USER'">
      <button mat-raised-button color="warn" *ngIf="router.url !== '/myTrainings'">{{ 'MYTRAININGSROUTER' | translate }}</button>
    </a>
    <button mat-raised-button color="warn" (click)='openLogin()' *ngIf="!userService.currentUser.token">{{ 'LOGIN' | translate }}</button>
    <button mat-raised-button color="warn" (click)='logout()' *ngIf="userService.currentUser.token">{{ 'LOGOUT' | translate }}</button>
  </mat-toolbar-row>
</mat-toolbar>
